<div class="join-room-dialog">
  <h2 class="join-room-dialog__title">
    {{ 'STARTPAGE.JOIN_ROOM_BUTTON' | translate }}
  </h2>

  <form class="join-room-dialog__from" [formGroup]="joinRoomForm" (ngSubmit)="onSubmitJoinRoom()">
    <div class="join-room-dialog__field">
      <input
        type="text"
        class="join-room-dialog__input"
        formControlName="roomId"
        [placeholder]="'STARTPAGE.ROOM_ID_INPUT' | translate"
      >
    </div>

    <div class="join-room-dialog__field">
      <input
        type="text"
        class="join-room-dialog__input"
        formControlName="playerName"
        [placeholder]="'STARTPAGE.CREATOR_NAME_INPUT' | translate"
      >
    </div>

    <div class="join-room-dialog__actions">
      <button
        type="button"
        class="join-room-dialog__button join-room-dialog__button--cancel"
        (click)="closeDialog()">
        {{ 'GENERAL.CANCEL' | translate }}
      </button>

      <button
        type="submit"
        class="join-room-dialog__button join-room-dialog__button--submit"
        [disabled]="joinRoomForm.invalid">
        {{ 'STARTPAGE.JOIN_ROOM_BUTTON' | translate }}
      </button>
    </div>
  </form>
</div>
